.rodape {
    background-color: #e4caaf;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #513D27;
    font-weight: 600;
}

.rodape p a {
    transition: all 0.5s;
    cursor: pointer;
}

.rodape p a:hover {
    font-size: 1.05rem;
    color: rgba(228, 120, 12, 0.849);
}