.rodape {
    background-color: var(--azul-escuro);
    color: var(--branco);
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.rodape p a {
    transition: all 0.5s;
    cursor: pointer;
}

.rodape p a:hover {
    font-size: 1.1rem;
    color: rgba(29, 157, 97, 0.849);
}