.post {
    text-align: center;
    width: 22rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    padding-bottom: 1.5rem;
    transition: transform .5s;
    background-color: #fff;
    margin: 6rem 0px 10px 10px;
}

.post:hover {
    transform: translate(0, -1rem);
}

.capa {
    width: 100%;
    border-radius: 10px;
}

.titulo {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    color: var(--azul-escuro);
    line-height: 1.50rem;
    margin: 1.2rem 0 1.75rem;
}

.botaoLer {
    display: inline-block;
    border-radius: 24px;
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    line-height: 1.125rem;
    background-color: var(--azul-medio);
    color: var(--branco);
    border: 3px solid var(--azul-medio);
    cursor: pointer;
    transition: 0.2s;
    font-family: "Poppins", sans-serif;
    
}

.botaoLer:hover {
    border: 3px solid var(--azul-escuro);
}

@media (max-width: 1100px) {
    .post {
        width: 336px;
    }
    .titulo {
        font-weight: 600;
    }
    .botaoLer {
        padding: 0.6875rem 1.5rem;
        font-size: 1.375rem;
    }
}