.navegacao {
    height: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 0;
}

.link {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--greyDark);
    text-decoration: none;
}

.linkDestacado {
    text-decoration: underline;
}

@media (max-width: 744px) {
    .navegacao {
        height: 42px;
    }
}