.navegacao {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
    font-family: "Poppins", sans-serif;
    color: #513D27;
    font-weight: 900;
    text-decoration: none;
    font-size: 1.1rem;

}



@media (max-width: 744px) {
    .navegacao {
        height: 5rem;
    }
}