.navegacao {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
    font-family: "Poppins", sans-serif;
}

.link {
    font-size: 1.15rem;
    line-height: 1.5rem;
    color: var(--cor-fonte-principal);
    
}

.linkDestacado {
    text-decoration: underline;
}

@media (max-width: 744px) {
    .navegacao {
        height: 4rem;
    }
}